body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container
{
    width: auto;
}

.custom-panel-without-heading
{
    padding:10px;
}

/*error directives*/
.alert-error
{
    border-radius:5px;
    border-left:2px RED solid;
    border-right:2px RED solid;
    border-bottom:2px RED solid;
    border-top:2px RED solid;
}
.error-background
{
    border-radius:5px;
    background-color:RED;
}
.errors-watcher
{
    border-radius:5px;
    border:1px RED solid;
}

error-detail
{
    position:absolute;
    z-index: 1010;
}
.errors-watcher-repeat
{
   padding:5px;
}

.errors-icon
{
   margin-right:5px;
}

.element-width-error
{
    border:2px RED groove !important;
}

.element-width-error:hover
{
}

.element-widthout-error
{
    border:2px GREEN groove !important;
}

.togler-launcher-element
{
    cursor: pointer;
}

.custom-h
{
    display:inline;
    margin-left:10px;
}

.custom-label
{
    vertical-align: middle;
}