<div class="panel panel-info" >
    <div class="panel-heading">
        <button     class="btn btn-default btn-xs pull-left"
                    type="button"
                    title="{{jsTrans('cvgestor','close')}}"
                    ng-if="currentUser && currentUser.role_name==='Administrador'"
                    ng-click="unSetCurriculum()"
        >
            <span   class="glyphicon glyphicon-ban-circle"
                    aria-hidden="true"
                    style="cursor:pointer;"
            >
            </span>
        </button>
        <h4 class="custom-h">
            <span>{{jsTrans('cvgestor','cv_detail')}}</span>
        </h4>
        <span>
        </span>
    </div>
    <div class="panel-body" toggler='{"actionLauncher":"../0","actionTarjet":"","actionShower":"../0/3","initialShowTime":"0","title":"{{jsTrans("cvgestor","togle_title")}}"}' >
        <div class="panel panel-default custom-panel-without-heading" >
            <h4><b>{{jsTrans('cvgestor','general_information')}}</b></h4><hr>
            <ul class="list-group" toggler='{"actionLauncher":"../0","actionTarjet":"","actionShower":"../0","initialShowTime":"0","title":"{{jsTrans("cvgestor","togle_title")}}"}'>
                <li class="list-group-item">
                    <b>{{jsTrans('cvgestor','name')}}:</b>
                    <span >
                        {{currentCurriculum.user}}
                    </span>
                </li>
                <li class="list-group-item">
                    <b>{{jsTrans('cvgestor','email')}}:</b>
                    <span >
                        {{currentCurriculum.email}}
                    </span>
                </li>
                <li class="list-group-item">
                    <b>{{jsTrans('cvgestor','age')}}:</b>
                    <span ng-if="(!statusCrud || !statusCrud[0] || statusCrud[0] === 'show') && !curriculumInProgress">
                        {{currentCurriculum.age}}
                    </span>
                    <span ng-if="(statusCrud && statusCrud[0] && statusCrud[0] === 'update' )|| curriculumInProgress">
                        <input ng-model="currentCurriculum.age"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":curriculumsError[0],"fieldName":"age"}'
                        >
                    </span>
                </li>
                <li class="list-group-item">
                    <b>{{jsTrans('cvgestor','range')}}:</b>
                    <span ng-if="(!statusCrud || !statusCrud[0] || statusCrud[0] === 'show') && !curriculumInProgress">
                        {{ranges[currentCurriculum.ranges_id]['label']}}
                    </span>
                    <span ng-if="(statusCrud && statusCrud[0] && statusCrud[0] === 'update' )|| curriculumInProgress">
                        <select
                                name="ranges_id"
                                ng-model="currentCurriculum.ranges_id"
                                auto-focus
                                placeholder="{{jsTrans('cvgestor','range')}}"
                                error-field-manager='{"errorObject":curriculumsError[0],"fieldName":"ranges_id"}'
                        >
                          <option ng-repeat="range in ranges" value="{{range.value}}" >{{range.label}}</option>
                        </select>
                    </span>
                </li>
                <li class="list-group-item"
                    ng-if="currentUser && currentUser.role_name!=='Administrador'"
                >
                    <b>{{jsTrans('cvgestor','action')}}:</b>
                    <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                        <button
                                    ng-if="(!statusCrud || !statusCrud[0] || statusCrud[0] === 'show')  && !curriculumInProgress"
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','update')}}"
                                    ng-click="editionMode(0)"
                        >
                            <span  class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;"></span>
                        </button>
                        <button
                                    ng-if="statusCrud && statusCrud[0] && statusCrud[0] === 'update' && !curriculumInProgress"
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','update')}}"
                                    ng-click="completeEdition(0)"
                        >
                            <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                        </button>
                        <button
                                    ng-if="curriculumInProgress"
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','new')}}"
                                    ng-click="saveNewCurriculum()"
                        >
                            <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                        </button>


                    </div>
                </li>
            </ul>
            <p>

            </p>
        </div>
        <div    class="panel panel-default custom-panel-without-heading"
                ng-if="currentCurriculum.id"
        >
            <academic-list  current-curriculum="currentCurriculum"
                            current-user="currentUser"
            >
            </academic-list>
        </div>
        <div    class="panel panel-default custom-panel-without-heading"
                ng-if="currentCurriculum.id"
        >
            <work-list  current-curriculum="currentCurriculum"
                        current-user="currentUser"
            >
            </work-list>
        </div>
    </div>
</div>