<div class="panel panel-success" >
    <div class="panel-heading">
        <h4 class="custom-h">
            {{jsTrans('cvgestor','cv_list')}}
        </h4>
        <span class="label label-success custom-label">
            {{totalOfCurriculums}}
        </span>
    </div>
    <div    class="table-responsive" ng-if="totalOfCurriculums && totalOfCurriculums >0"
            toggler='{"actionLauncher":"../0","actionTarjet":"","actionShower":"../0/0","initialShowTime":"0","title":"{{jsTrans("cvgestor","togle_title")}}"}' >
        <table class="table table-striped table-hover table-condensed table-bordered" style="background-color:#FFFFFF;">
            <thead style="word-break:keep-all;">
                <tr >
                    <th class="table_head icon-cell" title="{{jsLang('actions')}}">
                        #
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('actions')}}">
                        {{jsTrans('cvgestor','name')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('number_piece')}}">
                        {{jsTrans('cvgestor','email')}}
                    </th >
                    <th class="table_head icon-cell" title="{{jsLang('insurance_company')}}">
                            {{jsTrans('cvgestor','age')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('particular')}}">
                        {{jsTrans('cvgestor','range')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('particular')}}">
                        {{jsTrans('cvgestor','action')}}
                    </th>
                </tr>
            </thead>
            <tbody style="word-break:keep-all;">
                <tr  ng-repeat="curriculum in curriculums" >
                    <td  >
                        {{$index}}
                    </td>
                    <td  >
                        {{curriculum.user}}
                    </td>
                    <td  >
                        {{curriculum.email}}
                    </td>
                    <td  >
                        {{curriculum.age}}
                    </td>
                    <td  >
                        {{curriculum.range}}
                    </td>
                    <td  >
                        <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                            <button  class="btn btn-default btn-md" type="button" title="Ver curriculum" ng-click="setCurrentCurriculum(curriculum)">
                                <span  class="glyphicon glyphicon-eye-open" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>