<h3>
    {{jsTrans('cvgestor','welcome')}} {{currentUser.user_name}}
    <form   method="POST"
            action="/cvgestor/auth/logout" class="pull-right"
    >
        <a href="auth/logout" style="font-size:14px;" >
            {{jsTrans('cvgestor','logout')}}
        </a>
    </form>
    <span
        ng-if="currentUser && currentUser.role_name!=='Administrador' && !curriculumData['currentCurriculum'].id  && !curriculumData['curriculumInProgress']"
    >
        <button     type="button"
                    class="btn btn-success"
                    ng-click="beginCurriculum()"
                    hiden="1"
                    ng-show="!curriculumData['currentCurriculum'].id  && !curriculumData['curriculumInProgress']"
        >

            {{jsTrans('cvgestor','create_curriculum')}}
        </button>
    <span>
</h3>
<curriculum-list    ng-if="currentUser && currentUser.role_name==='Administrador' && curriculumData && curriculumData['curriculums']"
                    curriculums="curriculumData['curriculums']"
                    current-curriculum="curriculumData['currentCurriculum']"
>
</curriculum-list>
<curriculum-view    ng-if="(curriculumData['currentCurriculum'].id || curriculumData['curriculumInProgress']) && currentUser"
                    current-curriculum="curriculumData['currentCurriculum']"
                    current-user="currentUser"
                    curriculum-in-progress="curriculumData['curriculumInProgress']"
>
</curriculum-view>