<div>
    <h4>
        <b>{{jsTrans('cvgestor','academic_information')}}</b>
    </h4>
    <hr>
    <div    class="table-responsive"
            toggler='{"actionLauncher":"../0","actionTarjet":"","actionShower":"../0","initialShowTime":"0","title":"{{jsTrans("cvgestor","togle_title")}}"}' >
        <table class="table table-striped table-hover table-condensed table-bordered" style="background-color:#FFFFFF;">
            <thead style="word-break:keep-all;">
                <tr >
                    <th class="table_head icon-cell" title="{{jsTrans('cvgestor','action')}}">
                        #
                    </th>
                    <th class="table_head icon-cell" title="{{jsTrans('cvgestor','institute')}}">
                        {{jsTrans('cvgestor','institute')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsTrans('cvgestor','career')}}">
                        {{jsTrans('cvgestor','career')}}
                    </th >
                    <th class="table_head icon-cell" title="{{jsTrans('cvgestor','academic_begin_year')}}">
                        {{jsTrans('cvgestor','academic_begin_year')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsTrans('cvgestor','academic_end_year')}}">
                        {{jsTrans('cvgestor','academic_end_year')}}
                    </th>
                    <th ng-if="currentUser && currentUser.role_name==='Suscriptor'"
                        class="table_head icon-cell" title="{{jsTrans('cvgestor','action')}}">
                        {{jsTrans('cvgestor','action')}}
                    </th>
                </tr>
            </thead>
            <tbody style="word-break:keep-all;">
                <tr
                    ng-if="academicsData && academicsData['academics'] "
                    ng-repeat="academicData in academicsData['academics']"
                >
                    <td  >
                        <div >
                            {{$index + 1 }}
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{academicData.institute_name}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input
                                    ng-model="academicData.institute_name"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":academicsError[$index],"fieldName":"institute_name"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{academicData.career}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input  ng-model="academicData.career"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":academicsError[$index],"fieldName":"career"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{academicData.academic_begin_year}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input ng-model="academicData.academic_begin_year"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":academicsError[$index],"fieldName":"academic_begin_year"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{academicData.academic_end_year}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input ng-model="academicData.academic_end_year"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":academicsError[$index],"fieldName":"academic_end_year"}'
                            >
                        </div>
                    </td>
                    <td  ng-if="currentUser && currentUser.role_name==='Suscriptor'">
                        <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                            <button
                                        ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' "
                                        class="btn btn-default btn-md"
                                        type="button"
                                        title="{{jsTrans('cvgestor','update')}}"
                                        ng-click="editionMode($index)"
                            >
                                <span  class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                            <button
                                        ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' "
                                        class="btn btn-default btn-md"
                                        type="button"
                                        title="{{jsTrans('cvgestor','update')}}"
                                        ng-click="completeEdition($index)"
                            >
                                <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                            <button
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','delete')}}"
                                    ng-click="deleteAcademic($index)"
                            >
                                <span  class="glyphicon glyphicon-floppy-remove" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr
                    ng-if="currentUser && currentUser.role_name==='Suscriptor'"
                >
                    <td  >
                        Nuevo
                    </td>
                    <td  >
                        <input
                                ng-model="newAcademic.institute_name"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newAcademicError,"fieldName":"institute_name"}'
                        >
                    </td>
                    <td  >
                        <input  ng-model="newAcademic.career"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newAcademicError,"fieldName":"career"}'
                        >
                    </td>
                    <td  >
                        <input ng-model="newAcademic.academic_begin_year"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newAcademicError,"fieldName":"academic_begin_year"}'
                        >
                    </td>
                    <td  >
                        <input ng-model="newAcademic.academic_end_year"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newAcademicError,"fieldName":"academic_end_year"}'
                        >
                    </td>
                    <td  ng-if="currentUser && currentUser.role_name==='Suscriptor'">
                        <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                            <button
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','save')}}"
                                    ng-click="saveNewAcademic()"
                            >
                                <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>