 <div>
    <h4><b>{{jsTrans('cvgestor','work_information')}}</b></h4><hr>
    <div    class="table-responsive"
                toggler='{"actionLauncher":"../0","actionTarjet":"","actionShower":"../0","initialShowTime":"0","title":"{{jsTrans("cvgestor","togle_title")}}"}' >
        <table class="table table-striped table-hover table-condensed table-bordered" style="background-color:#FFFFFF;">
            <tdead style="word-break:keep-all;">
                <tr >
                    <th class="table_head icon-cell" title="{{jsLang('actions')}}">
                        #
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('actions')}}">
                        {{jsTrans('cvgestor','company')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('number_piece')}}">
                        {{jsTrans('cvgestor','work_position')}}
                    </th >
                    <th class="table_head icon-cell" title="{{jsLang('insurance_company')}}">
                        {{jsTrans('cvgestor','work_begin_year')}}
                    </th>
                    <th class="table_head icon-cell" title="{{jsLang('particular')}}">
                        {{jsTrans('cvgestor','work_end_year')}}
                    </th>
                    <th ng-if="currentUser && currentUser.role_name==='Suscriptor'"
                        class="table_head icon-cell" title="{{jsLang('particular')}}">
                        {{jsTrans('cvgestor','action')}}
                    </th>
                </tr>
            </thead>
            <tbody style="word-break:keep-all;">
                <tr
                    ng-if="worksData && worksData['works'] "
                    ng-repeat="workData in worksData['works']"
                >
                    <td  >
                        <div >
                            {{$index + 1 }}
                        </div >
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{workData.company}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input
                                    ng-model="workData.company"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":worksError[$index],"fieldName":"company"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{workData.work_position}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input
                                    ng-model="workData.work_position"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":worksError[$index],"fieldName":"work_position"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{workData.work_begin_year}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input
                                    ng-model="workData.work_begin_year"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":worksError[$index],"fieldName":"work_begin_year"}'
                            >
                        </div>
                    </td>
                    <td  >
                        <div ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' ">
                            {{workData.work_end_year}}
                        </div>
                        <div ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' ">
                            <input
                                    ng-model="workData.work_end_year"
                                    class="form-control input-sm"
                                    error-field-manager='{"errorObject":worksError[$index],"fieldName":"work_end_year"}'
                            >
                        </div>
                    </td>
                    <td   ng-if="currentUser && currentUser.role_name==='Suscriptor'">
                        <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                            <button
                                        ng-if="!statusCrud || !statusCrud[$index] || statusCrud[$index] === 'show' "
                                        class="btn btn-default btn-md"
                                        type="button"
                                        title="{{jsTrans('cvgestor','update')}}"
                                        ng-click="editionMode($index)"
                            >
                                <span  class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                            <button
                                        ng-if="statusCrud && statusCrud[$index] && statusCrud[$index] === 'update' "
                                        class="btn btn-default btn-md"
                                        type="button"
                                        title="{{jsTrans('cvgestor','update')}}"
                                        ng-click="completeEdition($index)"
                            >
                                <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                            <button
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','delete')}}"
                                    ng-click="deleteWork($index)"
                            >
                                <span  class="glyphicon glyphicon-floppy-remove" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr
                    ng-if="currentUser && currentUser.role_name==='Suscriptor'"
                >
                    <td  >
                        Nuevo
                    </td>
                    <td  >
                        <input
                                ng-model="newWork.company"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newWorkError,"fieldName":"company"}'
                        >
                    </td>
                    <td  >
                        <input  ng-model="newWork.work_position"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newWorkError,"fieldName":"work_position"}'
                        >
                    </td>
                    <td  >
                        <input ng-model="newWork.work_begin_year"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newWorkError,"fieldName":"work_begin_year"}'
                        >
                    </td>
                    <td  >
                        <input ng-model="newWork.work_end_year"
                                class="form-control input-sm"
                                error-field-manager='{"errorObject":newWorkError,"fieldName":"work_end_year"}'
                        >
                    </td>
                    <td  ng-if="currentUser && currentUser.role_name==='Suscriptor'">
                        <div class="btn-group" style="display:inline-flex;" aria-label="..." role="group" >
                            <button
                                    class="btn btn-default btn-md"
                                    type="button"
                                    title="{{jsTrans('cvgestor','save')}}"
                                    ng-click="saveNewWork()"
                            >
                                <span  class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="cursor:pointer;"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>